---
url: /cart
name: Cart
description: Shows current cart contents
action: shop:cart
template: default
published: true
---
{# Get all cart products' upsells #}
{% set upsells = [] %}
{% for item in items if not item.product.upsells.isEmpty() %}
  {% for upsell in item.product.upsells %}
    {% set upsells = upsells | merge([upsell]) %}
  {% endfor %}
{% endfor %}

<section class="grid-container cart-page">
  <form class="grid-x grid-padding-x" data-ajax-handler="shop:cart"
        data-ajax-update=".cart-contents=cart-contents, .cart-upsells=cart-upsells, .cart-summary=cart-summary">

    <header class="cell">
      <h1>Cart</h1>
    </header>

    <section class="cell cart-contents">
      {{ partial('cart-contents') }}
    </section>

    {% if theme.enableCartUpsells and upsells | length %}
      <section class="cell cart-upsells">
        <div class="grid-x grid-padding-x">
          <div class="cell related-header">
            <h2>Purchase together and save</h2>
          </div>
          {{ partial('related', {relateds: upsells}) }}
        </div>
      </section>
    {% endif %}

    <section class="cell cart-summary">
      {{ partial('cart-summary') }}
    </section>
  </form>
</section>
