---
url: /reset-password/:hash!
name: Reset Password
description: Allows a user to request a password reset, or reset their password
action: shop:passwordRestore
template: default
published: true
---
<h1>Reset Password</h1>
{% if invalidHash or not hash %}
  {% if hash %}
    <span class="error">Invalid or expired link, please try again</span>
  {% endif %}
  <form
    method="post"
    data-ajax-handler="shop:passwordRestore"
    data-validation-message="">
    Please enter your email address and we will send you an email message with
    a link to reset your password.
    <label>
      Email
      <input type="email" name="email" required>
      <span class="error"></span>
    </label>
    <input type="hidden" name="requestPasswordRestore" value="1">
    <input type="hidden"
      name="successMessage"
      value="Password reset email was sent.">
    <button class="button" type="submit">send email</button>
  </form>
{% else %}
  <form
    method="post"
    data-ajax-handler="shop:passwordRestore"
    data-validation-message="">
    Please enter a new password for your account.
    {{ flash() }}
    <label>
      New Password
      <input type="password" name="password" required>
      <span class="error"></span>
    </label>
    <label>
      Confirm New Password
      <input type="password" name="passwordConfirm" required>
      <span class="error"></span>
    </label>
    <input type="hidden" name="passwordRestoreSubmit" value="1">
    <input type="hidden" name="redirect" value="/">
    <button class="button" type="submit">change password</button>
  </form>
{% endif %}
