{# WARNING: Only use this partial once per page. It uses id attributes. #}

{{ open_form({
     'method': 'post',
     'data-ajax-handler': 'shop:onChangePassword',
     'data-ajax-update': '.account-settings-password=account-settings-password',
     'data-abide': null,
     'novalidate': null
   })
}}
{{ flash() }}
<h3>Change password</h3>

<label>
  Old password*
  <input type="password" name="oldPassword" required>
  <span class="error"></span>
  <span class="form-error">Old password is required</span>
</label>

<label>
  New password*
  <input type="password" name="password" id="password" required>
  <span class="error"></span>
  <span class="form-error">New password is required</span>
</label>

<label>
  Password confirmation*
  <input
      type="password"
      name="passwordConfirm"
      required
      data-equalto="password">
  <span class="error"></span>
  <span class="form-error">
      Password confirmation must match new password
    </span>
</label>

<button type="submit" class="button">change password</button>
<input type="hidden" name="redirect" value="/account"/>
{{ close_form() }}
