---
description: Displays a list of blog posts.
---
{# takes posts as an argument #}
{% if not posts.length %}
  <dl class="blog-list">
    {% for post in posts %}
      <dt><a href="{{ post.permalink }}">{{ post.title }}</a>
      <dd>
        {% if post.featured_image %}
          <div class="media-object">
            <div class="media-object-section">
              <img
                src="{{ post.featured_image.thumbnail(400, 240) }}"
                alt="{{ post.featured_image.description }}"
                title="{{ post.featured_image.title }}" />
            </div>
            <div class="media-object-section main-section">
              {{ post.excerpt | raw }}
            </div>
          </div>
        {% else %}
          {{ post.excerpt | raw }}
        {% endif %}
    {% endfor %}
  </dl>
{% else %}
  No posts.
{% endif %}
