<div class="grid-x grid-padding-x">

  <header class="cell contents-header">
    <div class="grid-x grid-padding-x">

      <div class="cell">
        <span><strong>Item</strong></span>
      </div>

      <div class="cell number-cell">
        <span><strong>Quantity</strong></span>
      </div>

      <div class="cell number-cell">
        <span><strong>Price</strong></span>
      </div>

      <div class="cell number-cell">
        <span><strong>Total</strong></span>
      </div>

    </div>
  </header>

  {% for item in items %}
  <section class="cell contents-product">
    <div class="grid-x grid-padding-x">

      <header class="cell large-8">
        <img class="product-image" src="{{ item.product.images.first.thumbnail(100, 'auto') }}"/>
        <h2 class="product-name"><a href="/product/{{ item.url_name }}">{{ item.product.name }}</a></h2>
        {% set options = item.optionsString() %}
        {% if options %}
        <p class="product-options">{{ options | unescape }}</p>
        {% endif %}
        {% set extras = "" %}
        {% for extra in item.extras %}
        {% set extras = extras ~ extra.name ~ (not loop.first ? ', ' : '') %}
        {% endfor %}
        {% if extras | length > 0 %}
        <p class="product-extras">{{ extras }}</p>
        {% endif %}
      </header>

      <div class="cell number-cell">
        <input name="item_quantity[{{ item.key }}]" type="number" min="1" value="{{ item.quantity }}"/>
      </div>

      <div class="cell number-cell">
        {% if item.price != item.fullPrice() %}
        <span class="price-original">{{ item.fullPrice() | currency }}</span><br>
        <span>{{ item.price | currency }}</span>
        {% else %}{# Item isn't on sale #}
        <span>{{ item.price | currency }}</span>
        {% endif %}

      </div>

      <div class="cell number-cell">
        {{ item.total | currency }}
      </div>

      <div class="cell remove-cell">
        <a class="remove-button" data-ajax-handler="shop:cart"
                data-ajax-extra-fields="delete_item={{ item.key }}"
                data-ajax-update=".cart-contents=cart-contents">
          <span class="fa fa-lg fa-times-circle"></span>
        </a>
      </div>

    </div>
  </section>
  {% else %}
  <section class="cell contents-product">
    <p class="empty-cart">You don't have anything in your cart yet!</p>
  </section>
  {% endfor %}
</div>