<div class="grid-container">
  <div class="grid-x grid-padding-x align-justify">
    <div class="cell shrink header-title">
      <a href="/"><img class="header-logo" src="{{ theme.storeLogo.thumbnail('auto', 'auto') }}" alt="{{ theme.storeLogo.alt }}"/></a>
    </div>
    <div class="cell shrink header-menu">
      <ul class="menu dropdown" data-dropdown-menu>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/products">Shop</a>
          <ul class="menu">
            {% for category in categories %}
            <li>
              <a href="/category/{{ category.url_name }}">{{ category.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      {{ widget_block('header-nav-menu') }}
      <ul>
        {% if customer %}
        <li>
          <a href="/logout">Log Out</a>
        </li>
        <li>
          <a href="/account" class="button">My Account</a>
        </li>
        {% else %}
        <li>
          <a href="/account">Log In</a>
        </li>
        <li>
          <a href="/account" class="button">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>


