<a href="/"><img class="off-canvas-logo" src="{{ theme.storeLogo.thumbnail('auto', 'auto') }}" alt="{{ theme.storeLogo.alt }}"/></a>
<button class="close-button" data-toggle="mobile-off-canvas-menu"><span class="fa fa-close"></span></button>

<ul class="menu accordion-menu vertical off-canvas-core-nav" data-accordion-menu>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/products">Shop</a>
    <ul class="menu vertical">
      {% for category in categories %}
      <li>
        <a href="/category/{{ category.url_name }}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>
</ul>

<span class="off-canvas-custom-nav">
  {{ widget_block('header-nav-menu') }}
</span>

<ul class="menu accordion-menu vertical off-canvas-account-nav" data-accordion-menu>
  {% if customer %}
  <li>
    <a href="/logout">Log Out</a>
  </li>
  <li>
    <a href="/account">My Account</a>
    <ul class="menu vertical">
      <li>
        <a href="/account">Settings</a>
      </li>
      <li>
        <a href="/account/orders">Order History</a>
      </li>
    </ul>
  </li>
  {% else %}
  <li>
    <a href="/account">Log In</a>
  </li>
  <li>
    <a href="/account">Register</a>
  </li>
  {% endif %}
</ul>