{{ open_form({'data-ajax-handler': 'shop:onChangePassword', 'class': 'custom', 'data-ajax-update': '#profile-changepassword=partial-changepassword', 'data-validation-message' : ''}) }}
  <h2>Change password</h2>
  <hr>
  {{ flash() }}
  <p><label for="oldPassword">Old password</label>
  <input name="oldPassword" id="oldPassword" type="password" class="text" value=""/>
  <span class="error"></span></p>

  <p><label for="password">New password</label>
  <input name="password" id="password" type="password" class="text" value=""/>
  <span class="error"></span></p>

  <p><label for="passwordConfirm">Password confirmation</label>
  <input name="passwordConfirm" id="passwordConfirm" type="password" class="text" value=""/>
  <span class="error"></span></p>
  
  <input type="submit" value="Save"/>
  <input type="hidden" name="flash" value="Your password has been successfully changed."/>
  <!-- <input type="hidden" name="redirect" value="{{ root_url('/profile') }}"/> -->
</form>