{% if itemCount %}
	<table>
		<tr><td><h1>{{ page.title }}</h1></td></tr>
		<tr><td>{{ flash() }}</td></tr>
		<tr><td><hr></td></tr>

		{% for item in items %}
			<tr class="cart-item">
				<td class="cart-image">
					<a href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(160, 160)|default('http://placehold.it/160x160') }}"/></a>
				</td>
				<td class="cart-name">
					<h2><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h2>
					{% set description = item.optionsString() %}
					{% if description %}<p>{{ description|unescape }}</p>{% endif %}
				</td>
				<td class="cart-item-price"><h2>{{ item.fullPrice()|currency }}</h2></td> 
				{% if cart.getDiscountTotal() > 0 %}
					<td><h2>{{ item.totalDiscount()|currency }}</h2></td>
					<td><h2>{{ item.price()|currency }}</h2></td>
				{% endif %}
				<td class="cart-item-total"><h2>{{ item.total()|currency }}</h2></td>
				<td class="cart-quantity">
					<input type="text" name="item_quantity[{{ item.key }}]" value="{{ item.quantity }}">
				</td>
				<td class="cart-remove">
					<h4><a href="#" data-ajax-handler="shop:cart" {# data-ajax-confirm="Do you really want to remove this item from the cart?" #} data-ajax-update="#cart-content=partial-cart, #mini-cart=shop-minicart"data-ajax-extra-fields="delete_item='{{ item.key }}'">Remove</a></h4>
				</td>
			</tr>
			<tr><td><hr></td></tr>
		{% endfor %}

		<tr><td><input type="text" id="coupon" name="coupon" value="{{ coupon_code }}" placeholder="Coupon code" /><a href="#" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=partial-cart, #mini-cart=shop-minicart">&nbsp; &#8635; Update cart</a></td></tr>
		<tr><td class="cart-subtotal"><h2>Subtotal: <strong>{{ totals.total|currency }}</strong></h2></td></tr>
		<tr><td><a href="{{ site_url('shop') }}">Continue shopping</a></td></tr>
		<tr><td><a href="{{ site_url('/checkout') }}">Checkout</a></td></tr>
	</table>

	{% if totals.discountTotal > 0 %}
		<h4><strong>Coupon discount:</strong> {{ totals.discountTotal|currency }}</h4>
	{% endif %}	

{% else %}
	<h1>{{ page.title }}</h1>
	<hr>
	<h3>Your cart is empty!<a href="{{ site_url('shop') }}"> Continue shopping.</a></h3>
{% endif %}

