---
name: partial-password-restore
---
{{ flash() }}
{% if invalidHash %}
  <span class="error">Invalid or expired link.</span>
{% endif %}
<p>Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>
<label for="email">E-mail Address</label>
<input type="text" id="email" name="email"/>
<span class="error"></span>

<input type="hidden" name="requestPasswordRestore" value="1">
<input type="hidden" name="successMessage" value="Password restore email was sent."/>
<p><input type="submit" value="Submit" name="passwordRestoreSubmit"/></p>