{% if hash %}
  <span class="error">Invalid or expired link, please try again</span>
{% else %}
  {{ flash() }}
{% endif %}

{{ open_form({
     'method': 'post',
     'data-ajax-handler': 'shop:passwordRestore',
     'data-ajax-update': '.password-reset-request=password-reset-request',
     'data-validation-message': '',
     'data-abide': null,
     'novalidate': null
   })
}}
  Please enter your email address and we will send you an email message with
  a link to reset your password.
  <label>
    Email
    <input type="email" name="email" required>
    <span class="error"></span>
    <span class="form-error">Email is required.</span>
  </label>
  <input type="hidden" name="requestPasswordRestore" value="1">
  <input type="hidden"
         name="successMessage"
         value="Password reset email was sent.">
  <button class="button" type="submit">send email</button>
{{ close_form() }}