---
description: Displays a product list.
---
{# takes products as an argument #}
<link rel="stylesheet" href="{{ 'css/product-list.css' | theme_resource }}">
<ul class="product-list">
  {% for product in products %}
    <li>
      <a href="product/{{ product.url_name }}">
        <img
          src="{{ product.images.first.thumbnail(400, 400)|default('http://placehold.it/400x400') }}"
          alt="{{ product.images.first.description }}"
          title="{{ product.images.first.description }}" />
        {{ product.name }}
      </a>
    </li>
  {% endfor %}
</ul>

