<h4>Shipping Options Available at Checkout</h4>

{% if shippingOptions %}
<table class="scroll">
  <thead>
    <td>Option</td>
    <td>Estimate</td>
    <td>Delivery Date</td>
    <td>Guaranteed</td>
  </thead>
  {% for index, option in shippingOptions %}
  <tr>
    {% if not option.error_hint %}
    <td>
      {% if option.shippingServiceName %}
      <strong>{{ option.shippingServiceName }}</strong> - {{ option.shippingMethodName }}
      {% else %}
      {{ option.shippingMethodName }}
      {% endif %}
    </td>
    <td>
      {% if not option.error_hint  %}
      {{ option.quote ? option.quote|currency : 'Free' }}
      {% endif %}
    </td>
    <td>
      {% if not option.error_hint %}
      {{ option.deliveryDate | date("M j") }}
      {% endif %}
    </td>
    <td class="date-guaranteed">
      {% if not option.error_hint %}
      {{ option.deliveryDateGuaranteed ? '<span class="fa fa-check"></span>' : '<span class="fa fa-close"></span>' }}
      {% endif %}
    </td>
    {% else %} {# Shipping option has an error hint #}
    <td colspan="4">
      <strong>{{ option.shippingMethodName }}</strong>
      <p class="error-hint">{{ option.error_hint }}</p>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %} {# No shippingOptions found for the given country/state/zip combination #}
<p>Sorry, there are no shipping options available for your location.</p>
{% endif %}