---
url: /archive/:type/:category?/:page?
name: Blog archive
description: Displays a list of CMS content blog posts.
action: cmscontent:archive
template: default
published: true
---
{# Takes GET parameter category: the category slug to filter for, if any. #}

{% set blog_slugs = [] %}
{% set blog_categories = [] %}
{% for post in cmsContent('blog') %}
  {% for category in post.categories if category.slug not in blog_slugs %}
    {% set blog_slugs = blog_slugs | merge([category.slug]) %}
    {% set blog_categories = blog_categories | merge([category]) %}
  {% endfor %}
{% endfor %}
{{ partial('blog-categories', {categories: blog_categories}) }}

{% set posts = archives %}
<section class="archive text-center">
  <h1>Archive</h1>
  {% if posts | length %}
    {% paginate posts by 5 %}
      {{ partial('blog-list', {posts: pagination.items}) }}
      <footer>
        <ul
          class="pagination text-center"
          role="navigation"
          aria-label="Pagination">
          <li><a href="{{ pagination.firstUrl }}">first</a></li>
          {% for page in pagination.pages %}
            {% if page.isCurrent %}
              <li class="current">{{ page.index }}</li>
            {% else %}
              <li><a href="{{ page.url }}">{{ page.index }}</li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ pagination.lastUrl }}">last</a></li>
        </ul>
      </footer>
    {% endpaginate %}
  {% else %}
    <span class="error">No posts to display.</span>
  {% endif %}
</section>
