.header-inner {
  background: $light-gray;
  padding: 1rem 0;

  .header-title {
    .header-logo {
      height: 2.5rem;
    }
  }

  .header-menu {
    .header-core-nav,
    .header-custom-nav,
    .header-account-nav {
      display: inline-flex;
    }

    .header-custom-nav {
      > ul {
        @include menu-base;
      }
    }
  }
}
