.header-inner {
  background: $light-gray;
  padding: 1rem 0;

  .header-title {
    // Internet Explorer hack.
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      position: absolute;
      width: 100%;
    }

    .header-logo {
      height: rem-calc(30);
    }
  }

  .header-menu {
    .menu-cart {
      margin-bottom: .5rem;

      .button {
        display: flex;
        align-items: center;

        .fa-shopping-cart {
          margin-right: .5rem;
        }

        .badge {
          font-weight: bold;
          margin-left: .5rem;
        }
      }
    }

    .menu-nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .header-core-nav,
      .header-custom-nav,
      .header-account-nav {
        display: inline-flex;
      }

      .header-custom-nav {
        > ul {
          @include menu-base;
        }
      }
    }
  }

  @include breakpoint(medium down) {
    .header-menu {
      .menu-cart {
        margin-bottom: 0;
        padding-left: 0;
      }

      .menu-nav {
        padding-right: 0;
      }
    }
  }
}
