.header-inner {
  background: $light-gray;
  padding: 1rem 0;

  .header-title {
    .header-logo {
      height: 2.5rem;
    }
  }

  .mini-cart > ul > li > a {
    padding-right: 2rem; // make room for the down arrow.
  }
}
