.off-canvas {
  .off-canvas-logo {
    height: 2.25rem;
    margin: 1rem;
    @include xy-gutters($gutters: $grid-margin-gutters, $gutter-type: margin);
  }

  .off-canvas-core-nav,
  .off-canvas-account-nav {
    li {
      a {
        text-align: center;
        padding: 1rem;
        border-top: 1px solid $medium-gray;

        &.button {
          font-size: inherit;
        }
      }

      ul {
        a {
          border-top: 1px dashed $medium-gray;
        }
      }
    }
  }

  .off-canvas-custom-nav {
    >  ul {
      @include menu-base;
      @include menu-direction($dir: vertical);

      li {
        a {
          text-align: center;
          padding: 1rem;
          border-top: 1px solid $medium-gray;
        }
      }
    }
  }
}
