---
url: /blog/:slug
name: Blog Post
action: cmscontent:blog
template: default
published: true
---
<section class="blog-post grid-container">

  <header>

    {% if post.featured_image %}
      <img
        src="{{ post.featured_image.thumbnail(600, 'auto') }}"
        alt="{{ post.featured_image.description }}"
        title="{{ post.featured_image.title }}"
        class="float-right" />
    {% endif %}

    <h1>
      {{ post.title }}
    </h1>
    <h5>
      <small>
        {{ post.published_on | date('Y/m/d') }}
      </small>
    </h5>

    <div class="archive-categories">
      {{ partial('archive-categories', {
           categories: post.categories,
         })
      }}
    </div>

  </header>

  <div class="blog-post-body">
  {{ post.body | raw }}
  </div>


  <footer class="callout media-object author-profile">

    {% if profile_image %}
      <div class="media-object-section">
        <img src="{{ profile_image.thumbnail(100, 'auto') | default('https://placehold.it/100x100') }}"
             alt="{{ profile_image.alt }}" title="{{ profile_image.title }}"/>
      </div>
    {% endif %}

    <div class="media-object-section main-section">
      <h2>{{ post.author_name }}</h2>

      {{ post.user.user_bio | unescape }}

    </div>

    <div class="media-object-section">
      <ul class="menu vertical">
        {% for link in post.user.getSocialProfiles() %}
          <li><a href="{{ link.link }}">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>

  </footer>

</section>
