.cart-upsells {
  > .grid-x {
    border: 1px solid $primary-color;
    border-radius: $global-radius;
    margin: 0;
  }

  .upsells-header {
    background: $primary-color;
    color: $white;

    h2 {
      font-size: 1.75rem;
    }
  }

  .upsells-product {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .product-details {
      .product-image {
        float: left;
      }

      .product-name {
        font-size: 1.25rem;
      }

      .product-options {

      }
    }

    .product-prices {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .product-base-price {
        margin: 0;
        color: $dark-gray;
      }

      .product-discount {
        margin: 0;
        color: $alert-color;
        font-weight: bold;
      }

      .product-price {
        margin: 0;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    .product-cta {
      display: flex;
      align-items: center;
    }
  }
}