.cart-summary {
  .cart-shipping-estimates {
    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.25rem;
    }

    .shipping-estimates {
      table {
        width: auto;
      }

      .date-guaranteed {
        text-align: center;

        .fa-check {
          color: $success-color;
        }

        .fa-close {
          color: $alert-color;
        }
      }
    }
  }

  .cart-totals {
    > .grid-x {
      > .cell {
        display: flex;
        align-items: center;
      }
    }

    .input-group {
      width: auto;
      margin-right: 1rem;
    }

    .title-cell {
      font-weight: bold;
      justify-content: flex-end;
    }

    .total-cell {
      font-size: 1.25rem;
    }
  }

  .cart-footer {
    .footer-right {
      display: flex;

      > * {
        margin-left: .25rem;
        margin-right: .25rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
