.cart-contents {
  text-align: left;

  > .grid-x {
    margin: 0;
  }

  .contents-header,
  .contents-product {
    > .grid-x {
      > .cell {
        flex: 0 0 70%;
        max-width: 70%;

        &.number-cell {
          flex: 0 0 10%;
          max-width: 10%;
          text-align: right;

          .number-cell-label {
            display: none;
          }
        }

        &.currency-cell {
          text-align: right;
        }

        &.total-cell {
          flex: 0 0 10%;
          max-width: 10%;
        }
      }
    }

  }

  .contents-header {
    background: $light-gray;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .contents-product {
    padding-top: 1rem;
    padding-bottom: 1rem;

    h2 {
      small {
        font-size: .65rem;

        a {
          margin-left: 1em;
        }
      }
    }

    input {
      margin: 0;
      width: 5rem;
    }

    .product-image {
      float: left;
      margin-right: 1rem;
    }

    .product-name {
      font-size: 1.25rem;
      margin-bottom: .25rem;
    }

    .product-options,
    .product-extras {
      font-size: .75rem;
      margin: 0;
    }

    .product-quantity {
      font-size: 1rem;
    }

    .product-price-original {
      color: $alert-color;
      text-decoration: line-through;
    }
  }

  .contents-footer {
    display: flex;

    [name='coupon'] {
      margin-right: .5rem;
    }
  }

  .empty-cart {
    margin-bottom: -1rem;
  }

  @include breakpoint(medium down) {
    .contents-header {
      display: none;
    }

    .contents-product {
      padding-top: 2rem;
      padding-bottom: 0;
      border-top: 2px solid $dark-gray;

      > .grid-x {
        flex-direction: column;
        position: relative;

        // Internet Explorer hack.
        // sass-lint:disable no-vendor-prefixes
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          display: block;
        }
        // sass-lint:enable no-vendor-prefixes

        > .cell {
          padding: .5rem;
          max-width: 100%;

          &.number-cell {
            border-top: 1px solid $medium-gray;
            text-align: left;
            max-width: 100%;

            .number-cell-label {
              display: inline;
            }
          }

          &.remove-cell {
            padding: 0;
            max-width: 100%;

            .remove-button {
              position: absolute;
              top: -1.5rem;
              right: .5rem;
            }
          }
        }
      }

      input {
        display: inline-block;
      }
    }

    .contents-footer {
      border-top: 2px solid $dark-gray;
      padding-top: 1rem;
    }
  }

  @include breakpoint(small down) {
    .contents-footer {
      flex-direction: column;

      [name='coupon'] {
        margin-right: 0;
      }
    }
  }
}
