.cart-contents {
  text-align: left;

  > .grid-x {
    margin: 0;
  }

  .contents-header,
  .contents-product {
    > .grid-x {
      > .cell {
        flex: 0 0 60%;

        &.number-cell {
          flex: 0 0 10%;
          text-align: right;

          .number-cell-label {
            display: none;
          }
        }

        &.remove-cell {
          flex: 0 0 10%;

          .remove-button {
            color: $alert-color;
            cursor: pointer;
          }
        }
      }
    }

  }

  .contents-header {
    background: $light-gray;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .contents-product {
    padding-top: 1rem;
    padding-bottom: 1rem;

    input {
      margin: 0;
      width: 5rem;
    }

    .product-image {
      float: left;
      margin-right: 1rem;
    }

    .product-name {
      font-size: 1.25rem;
      margin-bottom: .25rem;
    }

    .product-options,
    .product-extras {
      font-size: .75rem;
      margin: 0;
    }

    .product-quantity {
      font-size: 1rem;
    }

    .product-price-original {
      color: $alert-color;
      text-decoration: line-through;
    }
  }

  .empty-cart {
    margin-bottom: -1rem;
  }

  @include breakpoint(medium down) {
    .contents-header {
      display: none;
    }

    .contents-product {
      padding-top: 2rem;
      padding-bottom: 0;
      border-top: 2px solid $dark-gray;

      > .grid-x {
        flex-direction: column;
        position: relative;

        > .cell {
          padding: .5rem;

          &.number-cell {
            border-top: 1px solid $medium-gray;
            text-align: left;

            .number-cell-label {
              display: inline;
            }
          }

          &.remove-cell {
            padding: 0;

            .remove-button {
              position: absolute;
              top: -1.5rem;
              right: .5rem;
            }
          }
        }
      }

      input {
        display: inline-block;
      }
    }
  }
}
