.cart-contents {
  text-align: left;

  > .grid-x {
    margin: 0;
  }

  .contents-header,
  .contents-product {
    > .grid-x {
      > .cell {
        flex: 0 0 60%;

        &.number-cell {
          flex: 0 0 10%;
          text-align: right;
        }

        &.remove-cell {
          flex: 0 0 10%;

          .remove-button {
            color: $alert-color;
            cursor: pointer;
          }
        }
      }
    }

  }

  .contents-header {
    background: $light-gray;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .contents-product {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .product-image {
      float: left;
      margin-right: 1rem;
    }

    .product-name {
      font-size: 1.25rem;
      margin-bottom: .25rem;
    }

    .product-options,
    .product-extras {
      font-size: .75rem;
      margin: 0;
    }

    .price-original {
      color: $alert-color;
      text-decoration: line-through;
    }
  }

  .empty-cart {
    margin-bottom: -1rem;
  }
}
