.checkout-totals {
  > .grid-x {
    > .cell {
      display: flex;
      align-items: center;

      &.currency-cell {
        span {
          // Inner wrapper for aligning cell text
          text-align: right;
          display: block;
          width: 100%;
        }
      }

      &.title-cell {
        font-size: .7em;
      }
    }
  }

  .input-group {
    width: auto;
    margin-right: 1rem;
  }

  .title-cell {
    justify-content: flex-end;
  }

  .total-cell {
    font-weight: bold;
  }

  .input-group.coupon-code {
    width: 100%;
    margin-right: 0;
  }
}
