.checkout-totals {
  > .grid-x {
    > .cell {
      display: flex;
      align-items: center;

      &.currency-cell {
        span {
          text-align: right;
          display: block;
          width: 100%;
        }

      }
    }
  }

  .input-group {
    width: auto;
    margin-right: 1rem;
  }

  .title-cell {
    justify-content: flex-end;
  }

  .total-cell {
    font-weight: bold;
  }
}
