// @import scss for partials here.
// Files should be in resources/css/src/partial/
// File name should be the partial name.

@import 'blog-list';
@import 'cart-contents';
@import 'categories';
@import 'checkout-totals';
@import 'ls-card-form';
@import 'mini-cart';
@import 'order-header';
@import 'order-totals';
@import 'product-list';
@import 'related-products';
@import 'shipping-options';
