html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

figure {
  margin: 0; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding: 2em;
  max-width: 1440px;
  margin: 0 auto; }

h2,h3,h4 {
  font-weight: normal; }

h1 {
  font-size: 2em;
  font-weight: 500; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 0.75em; }

a {
  color: #0084cd;
  text-decoration: none; }

a:hover {
  color: #009DF2; }

ul {
  padding: 0;
  list-style: none; }

ul ul {
  padding-left: 40px; }

.image-grid-item {
  display: inline-block; }

.product {
  display: inline-block; }

.product h2 {
  display: inline; }

.product-added {
  color: #F0C332; }

s {
  text-decoration: line-through;
  color: red; }

.breadcrumbs :not(:last-child):after {
  content: ">";
  margin-left: 5px; }

.crumb {
  display: inline; }

.cart-item td {
  padding-right: 20px ; }

input, textarea, select {
  font-size: 1em; }

.error {
  color: red; }

#order-table {
  text-align: left; }

#order-table th {
  width: 100px; }

.rating span.select {
  color: transparent; }
.rating span.select:before {
  content: "\2605";
  position: absolute;
  color: gold; }

