.product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-list img {
  display: block;
  margin-bottom: 1rem;
}
.product-list a {
  display: block;
  text-decoration: none;
  font-size: large;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  margin: 3rem;
}
