---
url: /product/:urlName
name: Product
description: Displays the details of one product.
action: shop:product
template: default
published: true
---
<section class="product grid-container">

  <header>
    <h1>{{ product.name }}</h1>
    {% if product.short_description %}
      <section class="short-description">
        {{ product.short_description | unescape }}
      </section>
    {% endif %}
  </header>

  <main class="media-object">
    <section class="product-image media-object-section">
      <div class="orbit" data-orbit>
        <ul class="orbit-container">
          {% for image in product.images %}
            <li class="orbit-slide {% if loop.first %}is-active{% endif %}">
              <img
                class="orbit-image"
                src="{{ image.thumbnail('auto', 'auto') }}"
                alt="{{ image.description }}"
                title="{{ image.title }}" />
            </li>
          {% endfor %}
        </ul>
        <nav class="orbit-bullets">
          {% for index, image in product.images %}
            <button
              {% if loop.first %}class="is-active"{% endif %}
              data-slide="{{ index }}">
              <img
                class="orbit-image"
                src="{{ image.thumbnail('100', '100') }}"
                alt="{{ image.description }}"
                title="{{ image.title }}" />
            </button>
          {% endfor %}
        </nav>
      </div>
    </section>

    <section class="media-object-section main-section">
      <h2>{{ product.name }}</h2>

      {% if theme.enableReviews %}

        <section class="ratings">
          {{ partial('ratings', {rating: product.rating()}) }}
        </section>

        <section class="reviews">
          {{ partial('reviews', {
            product: product,
            reviews: product.reviews()})
          }}
        </section>

      {% endif %}

      <section class="price">
        {{ product.price | currency }}
        {% if product.onSale %}
          SALE!
        {% endif %}
      </section>

      <section class="description">
        {{ product.description | unescape }}
      </section>

      <section class="product-options">
        Options
      </section>

      {% if product.productAttributes.count %}
        <table class="product-attributes">
          {% for attribute in product.productAttributes %}
            <tr>
              <th>{{ attribute.name }}</th>
              <td>{{ attribute.value }}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}

      <section class="product-form">
        {% if product.in_stock_amount|default(product.out_of_stock_threshold + 1) > product.out_of_stock_threshold|default(0) %}
          <form
            data-ajax-handler="shop:onAddToCart"
            data-ajax-update=".mini-cart=mini-cart"
            method="post">
            <input type="hidden" name="productId" value="{{ product.id }}">
            <input type="number" name="quantity" value="1" min="1">
            <button class="button" type="submit">Add to cart</button>
          </form>
        {% else %}
          This product is currently out of stock.
          Check back for more {{ product.expected_availability_date|default('soon') }}.
        {% endif %}
      </section>

      <section class="price-tiers">
        {{ partial('price-tiers', {tiers: product.priceTiers}) }}
      </section>
    </section>
  </main>

  <footer>
    {% if product.crossSells|length %}
      <section class="cross-sells">
        <h1>You May Be Interested in These</h1>
        {{ partial('product-list', { products: product.crossSells }) }}
      </section>
    {% endif %}
    {% if product.upSells|length %}
      <section class="related">
        <h1>Purchase Together and Save</h1>
        {{ partial('product-list', { products : product.upSells }) }}
      </section>
    {% endif %}
  </footer>
</section>
