---
url: /checkout
name: Checkout
description: Where the customer fills out their address and pays.
action: shop:checkout
template: default
published: true
---
<div class="grid-container">
  <div class="grid-x grid-padding-x checkout">
    <div class="cell large-12">
      <ul id="checkout-tabs" class="tabs checkout-tabs" data-tabs>
        <li class="tabs-title is-active"><a data-tabs-target="checkout-addresses" aria-selected="true">Shipping/Billing</a></li>
        <li class="tabs-title"><a data-tabs-target="checkout-shipping-option">Shipping Option</a></li>
        <li class="tabs-title"><a data-tabs-target="checkout-review-and-pay">Review and Pay</a></li>
      </ul>
    </div>
    <div class="cell large-12">
      <div class="tabs-content checkout-tabs-content" data-tabs-content="checkout-tabs">
        <div class="tabs-panel is-active checkout-addresses-tab-content" id="checkout-addresses">
          {% if not customer %}
          <p>You are checking out as a guest. <a href="/account">Sign in</a> / <a href="/account">Sign up</a> to checkout faster and save your info.</p>
          {% endif %}
          <form class="grid-x grid-padding-x" novalidate data-abide
                data-mirror="shipping-billing" data-mirror-state="on"
                data-ajax-handler="shop:checkout" data-ajax-update=".checkout-steps=checkout-steps">
            <fieldset class="cell small-6 billing-fieldset">
              <legend>Billing Address</legend>
              <div class="grid-x grid-padding-x">
                <label class="cell small-6">
                  <span>First Name</span>
                  <input name="billingInfo[firstName]" type="text" value="{{ billingInfo.first_name }}"
                         id="checkout-billing-first-name"/>
                </label>
                <label class="cell small-6">
                  <span>Last Name</span>
                  <input name="billingInfo[lastName]" type="text" value="{{ billingInfo.last_name }}"
                         id="checkout-billing-last-name"/>
                </label>
                <label class="cell small-6">
                  <span>Email</span>
                  <input name="billingInfo[email]" type="email" value="{{ billingInfo.email }}"
                         id="checkout-billing-email"/>
                </label>
                <label class="cell small-6">
                  <span>Phone Number</span>
                  <input name="billingInfo[phone]" type="tel" value="{{ billingInfo.phone }}"
                         id="checkout-billing-phone"/>
                </label>
                <label class="cell small-12">
                  <span>Address Line 1</span>
                  <input name="billingInfo[streetAddressLine1]" type="text" value="{{ billingInfo.streetAddressLine1 }}"
                         id="checkout-billing-street-line-1"/>
                </label>
                <label class="cell small-12">
                  <span>Address Line 2</span>
                  <input name="billingInfo[streetAddressLine2]" type="text" value="{{ billingInfo.streetAddressLine2 }}"
                         id="checkout-billing-street-line-2"/>
                </label>
                <label class="cell small-6">
                  <span>City</span>
                  <input name="billingInfo[city]" type="text" value="{{ billingInfo.city }}"
                         id="checkout-billing-city"/>
                </label>
                <label class="cell small-6">
                  <span>Zip Code</span>
                  <input name="billingInfo[postalCode]" type="text" value="{{ billingInfo.postalCode }}"
                         id="checkout-billing-postal-code"/>
                </label>
                <label class="cell small-6">
                  <span>Country</span>
                  <select name="billingInfo[countryId]" id="checkout-billing-country"
                          data-state-selector="#checkout-billing-state" data-current-state="{{ billingInfo.stateId }}">
                    {% for country in countries %}
                    <option {{ option_state(country.id, billingInfo.countryId) }} value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </label>
                <label class="cell small-6">
                  <span>State</span>
                  <select name="billingInfo[stateId]" id="checkout-billing-state" data-ajax-refresh>
                    {{ partial('shop-stateoptions', {'states': billingStates, 'selected': billingInfo.stateId }) }}
                  </select>
                </label>
              </div>
            </fieldset>
            <fieldset class="cell small-6 shipping-fieldset">
              <legend>Shipping Address</legend>
              <label class="mirror-toggle">
                <input id="shipping-mirror-toggle" type="checkbox" checked data-toggle="shipping-inputs-grid"
                       data-mirror-toggler="shipping-billing">
                <span>Same as Billing Address</span>
              </label>
              <div id="shipping-inputs-grid" class="grid-x grid-padding-x hide" data-toggler=".hide">
                <label class="cell small-6">
                  <span>First Name</span>
                  <input name="shippingInfo[firstName]" type="text" value="{{ shippingInfo.first_name }}"
                         data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-first-name"/>
                </label>
                <label class="cell small-6">
                  <span>Last Name</span>
                  <input name="shippingInfo[lastName]" type="text" value="{{ shippingInfo.last_name }}"
                         data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-last-name"/>
                </label>
                <label class="cell small-12">
                  <span>Phone Number</span>
                  <input name="shippingInfo[phone]" type="tel" value="{{ shippingInfo.phone }}"
                         data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-phone"/>
                </label>
                <label class="cell small-12">
                  <span>Address Line 1</span>
                  <input name="shippingInfo[streetAddressLine1]" type="text" value="{{ shippingInfo.streetAddressLine1 }}"
                         data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-street-line-1"/>
                </label>
                <label class="cell small-12">
                  <span>Address Line 2</span>
                  <input name="shippingInfo[streetAddressLine2]" type="text" value="{{ shippingInfo.streetAddressLine2 }}"
                         data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-street-line-2"/>
                </label>
                <label class="cell small-6">
                  <span>City</span>
                  <input name="shippingInfo[city]" type="text" value="{{ shippingInfo.city }}"
                         data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-city"/>
                </label>
                <label class="cell small-6">
                  <span>Zip Code</span>
                  <input name="shippingInfo[postalCode]" type="text" value="{{ shippingInfo.postalCode }}"
                         data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-postal-code"/>
                </label>
                <label class="cell small-6">
                  <span>Country</span>
                  <select name="shippingInfo[countryId"]
                          data-state-selector="#checkout-shipping-state" data-current-state="{{ shippingInfo.stateId }}"
                          data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-country">
                    {% for country in countries %}
                    <option {{ option_state(country.id, shippingInfo.countryId) }} value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                  </select>
                </label>
                <label class="cell small-6">
                  <span>State</span>
                  <select name="shippingInfo[stateId]" id="checkout-shipping-state" data-ajax-refresh
                          data-mirror-watcher="shipping-billing" data-mirror-source="checkout-billing-state">
                    {{ partial('shop-stateoptions', {'states': shippingStates, 'selected': shippingInfo.stateId }) }}
                  </select>
                </label>
              </div>
            </fieldset>
            <fieldset class="cell small-12">
              <label class="cell small-12">
                <input name="accepts_marketing" type="checkbox" checked/>
                <span>Get occasional email updates from us</span>
              </label>
              <input name="step" type="hidden" value="billing_info,shipping_info"/>
              <input name="nextStep" type="hidden" value="shipping_method"/>
              <button type="submit" class="button">Next</button>
            </fieldset>
          </form>
        </div>
        <div class="tabs-panel checkout-shipping-option-tab-content" id="checkout-shipping-option">
          <p>Shipping Options</p>
        </div>
        <div class="tabs-panel checkout-review-and-pay-tab-content" id="checkout-review-and-pay">
          <p>Review and Pay</p>
        </div>
      </div>
    </div>
  </div>
</div>

