.checkout-steps {
  margin: 1rem 0;

  .checkout-tabs {
    .disabled {
      color: $medium-gray;
    }
  }

  .checkout-tabs-content {

  }

  .checkout-addresses-tab-content {
    fieldset {
      &.shipping-fieldset {
        position: relative;

        .mirror-toggle {
          position: absolute;
          top: .25rem;
          left: 11.5rem;

          input {
            margin-right: .25rem;
          }
        }
      }

      legend {
        font-size: rem-calc(20);
      }
    }
  }

  .checkout-shipping-option-tab-content {
    .checkout-totals {
      > .grid-x {
        > .cell {
          display: flex;
          align-items: center;
        }
      }

      .input-group {
        width: auto;
        margin-right: 1rem;
      }

      .title-cell {
        font-weight: bold;
        justify-content: flex-end;
      }

      .total-cell {
        font-size: 1.25rem;
      }
    }
  }

  .checkout-review-and-pay-tab-content {

  }

  @include breakpoint(small down) {
    .checkout-tabs {
      .tabs-title {
        float: unset;

        > a {
          padding: .75rem 1rem;
        }
      }
    }

    .checkout-tabs-content {
      .button {
        width: 100%;
      }
    }

    .checkout-addresses-tab-content {
      fieldset {
        &.shipping-fieldset {
          .mirror-toggle {
            position: unset;
          }
        }
      }
    }

    .checkout-shipping-option-tab-content {
      .checkout-totals {
        margin-bottom: 1rem;
      }
    }
  }
}
