.home {
  .home-hero {
    .orbit {
      .orbit-caption {
        bottom: 50%;
        transform: translateY(50%);
        text-align: center;
        background-color: transparent;
      }
    }
  }
}
