---
url: /
name: Home
description: The home page. Introduces the store and lists some products.
action: shop:products
template: default
published: true
---
<section>
  <h1>{{ theme.storeTitle }}</h1>
</section>
<section>
  <h1>Categories</h1>
  {{ partial('categories', {categories: categories}) }}
</section>
<section class="calllout">
  <h1>Featured</h1>
  {{ partial('product-list', {products: ('featured' | collection).products }) }}
</section>
<section>
  <h1>On Sale</h1>
  {% set sale_products = [] %}
  {% for product in products if product.onSale %}
    {% set sale_products = sale_products | merge([product])%}
  {% endfor %}
  {{ partial('product-list', {products: sale_products}) }}
</section>
<section>
  {{ content_block('about') }}
</section>
<section>
  {{ content_block('home-custom') }}
</section>
{% if theme.homeNewsletterSubscribe %}
  <section>
    <h1>Newsletter</h1>
    {{ partial('newsletter-subscribe') }}
  </section>
{% endif %}
