---
url: /
name: Home
description: The home page. Introduces the store and lists some products.
action: shop:products
template: default
published: true
---
<section class="home grid-container">
  <h1>{{ theme.storeTitle }}</h1>
  <section>
    <h2>Categories</h2>
    {{ partial('categories', {categories: categories}) }}
  </section>
  {% set featured_products = ('featured' | collection).products %}
  {% if featured_products | length %}
    <section class="callout">
      <h2>Featured</h2>
      {{ partial('product-list', {products: featured_products}) }}
    </section>
  {% endif %}
  <section>
    <h2>On Sale</h2>
    {% set sale_products = [] %}
    {% for product in products if product.onSale %}
      {% set sale_products = sale_products | merge([product])%}
    {% endfor %}
    {{ partial('product-list', {products: sale_products}) }}
  </section>
  <section>
    {{ content_block('about') }}
  </section>
  <section>
    {{ content_block('home-custom') }}
  </section>
</section>
