<!DOCTYPE html>
<html>
  <head>
    <title>{{ theme.storeTitle }}</title>

    <!-- Add any required meta tags -->
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="{{ page.description }}"/>
    <meta name="Keywords" content="{{ page.keywords }}"/>

    <!-- Lemonstand requires lemonstand.css, jQuery, and lemonstand.js -- DO NOT REMOVE! -->
    <link rel="stylesheet" href="/cms/lemonstand.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <script src="/cms/lemonstand.js" defer></script>

    <!-- Theme scripts and stylesheets -->
    <link rel="stylesheet" href="{{ 'css/dist/app.min.css' | theme_resource }}">
    <link rel="stylesheet" href="{{ 'css/custom.css' | theme_resource }}">
    <script type="text/javascript" src="{{ 'javascript/dist/app.min.js' | theme_resource }}" defer></script>
    <script type="text/javascript" src="{{ 'javascript/custom.js' | theme_resource }}" defer></script>
  </head>
  <body {% if theme.fillWindow %}class="fill-window"{% endif %}>
    <div class="off-canvas-wrapper">
      <div class="off-canvas position-left" id="mobile-off-canvas-menu" data-off-canvas>
        {{ partial('mobile-off-canvas-menu') }}
      </div>
      <div class="off-canvas-content" data-off-canvas-content>
        <header>
          {% if theme.stickyHeader %}
          <div data-sticky-container>
            <div class="header-inner" data-sticky data-options="marginTop:0;" data-top-anchor="1">
              {{ partial('header') }}
            </div>
          </div>
          {% else %}
          <div class="header-inner">
            {{ partial('header') }}
          </div>
          {% endif %}
        </header>
        <main>
          {{ page() }}
        </main>
        <footer>
          {{ partial('footer') }}
        </footer>
      </div>
    </div>
  </body>
</html>
