---
description: 'Default Template'
---
<!DOCTYPE html>
<html>
  <head>
    {{ code_block('setup') }}

    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="{{ page.description }}"/>
    <meta name="Keywords" content="{{ page.keywords }}"/>
    <link rel="icon" type="image/png" href="{{ theme.faviconImage.thumbnail('16', '16') }}"/>

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/cms/lemonstand.css">
    <link rel="stylesheet" type="text/css" href="{{ 'stylesheets/main.css'|theme_resource }}">

    <script type="text/javascript" src="{{ 'scripts/jquery.js'|theme_resource }}"></script>
    <script type="text/javascript" src="{{ 'scripts/app.js'|theme_resource }}"></script>
    <script type="text/javascript" src="/cms/lemonstand.js"></script>

  </head>
  <header>
    <nav>
      <div id="logo">
        <a href="{{ site_url('/') }}"><img src="{{ theme.logoImage.thumbnail('auto', 'auto') }}" alt="" class="logo"></a>
      </div>

      <ul>
        <li>
          {{ open_form({'class': 'search', 'method': 'get', 'action': site_url('search')}) }}
            <input type="text" name="query" value="{{query|unescape}}" placeholder="Search store&hellip;"/>
          {{ close_form() }}
        </li>
        <li>
          <a href="/shop">Shop ▾</a>
          {% tree categories %}
          <ul>
            {% for category in tree.items %}
            <li>
              <a href="/category/{{ category.fullUrlName }}">{{ category.name }}</a>
              {% branch category.children %}
            </li>
            {% endfor %}
          </ul>
          {% endtree %}
        </li>
        {% if customer %}
          <li>
            <a href="/profile">Your Account ▾</a>
            <ul>
              <li>
                <a href="/orders">Your orders</a>
              </li>
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li>
            <a href="/sign-in">Login</a>
          </li>
        {% endif %}
        <li><a href="/blog">Blog</a></li>
        <li id="mini-cart">{{ partial('shop-minicart') }}</li>
      </ul>
    </nav>
    <hr>
  </header>
  <body>
    {{ code_block('breadcrumbs') }}
    {{ page() }}
  </body>
  <footer>
    <hr>
    <ul>
      <li><a href="{{ site_url('contact') }}">Contact</a></li>
      <li><a href="{{ site_url('blog') }}">Blog</a></li>
      <li><a href="{{ theme.linkedInUrl }}">Jobs</a></li>
      <li><a href="{{ theme.twitterUrl }}">@LemonStand</a></li>
    </ul>
    <ul>
      <li><a href="{{ site_url('about') }}">About</a></li>
      <li><a href="{{ site_url('shop') }}">Shop</a></li>
      <li><a href="{{ theme.facebookUrl }}">Facebook</a></li>
      <li><a href="{{ site_url('privacy') }}">Privacy</a></li>
    </ul>
    <ul id="copyright">
      <li>Made by <a href="https://lemonstand.com">LemonStand</a></li>
    </ul>
  </footer>
</html>